<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost()">
    <div class="form-container">
      <div class="row columns">
        <h1>Emailer</h1>
        <label
          >Name
          <input placeholder="Cephas Zulu" type="text" formControlName="name" />
        </label>

        <label
          >Enter Email
          <input
            placeholder="exmaple@email.com"
            type="email"
            formControlName="email"
            ng-model="email"
            required
          />
        </label>

        <label for="validate">Minimum of 3 Characters</label>
        <input
          type="checkbox"
          name="validate"
          formControlName="validate"
          value="1"
        />
        I Agree on Ts & Cs

        <input
          type="submit"
          class="button expanded"
          value="Submit Form"
          [disabled]="!rForm.valid"
        />
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>

      <p>{{ email }}</p>
    </div>
  </div>
</ng-template>
